<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo76oqw--d4SUPw5PWCZ6s0AAXsxY3WIo</string>
	<key>GCM_SENDER_ID</key>
	<string>429896697212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newProject</string>
	<key>PROJECT_ID</key>
	<string>school-73ce9</string>
	<key>STORAGE_BUCKET</key>
	<string>school-73ce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429896697212:ios:0b619c5876a0f2fbf4d0f9</string>
	<key>DATABASE_URL</key>
	<string>https://school-73ce9-default-rtdb.firebaseio.com</string>
</dict>
</plist>